.comoFunciona {
  text-align: center;
  padding: 50px 20px;
  background: #f9f9f9;
  color: black;
}

.comoFunciona h2 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 10px;
}

.subtitulo {
  font-size: 20px;
  margin-bottom: 50px;
  color: #666;
}

.passos {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  max-width: 330px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 18px;
  border: 5px solid #007BFF;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4)
}

.card h3 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.card p {
  margin-top: 8px;
  font-size: 16px;
  color: #666;
  line-height: 22px;
}
