.footer {
  background: #002b5c;
  color: #fff;
  padding: 50px 20px 20px;
  margin-top: 70px;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.coluna {
  width: 230px;
}

.logo {
  font-size: 28px;
  font-weight: 800;
  color: #4cc9ff;
}

.desc {
  margin-top: 10px;
  font-size: 15px;
  line-height: 22px;
  color: #ddd;
}

.coluna h3 {
  margin-bottom: 12px;
  color: #ffd700;
}

.coluna ul {
  list-style: none;
  padding: 0;
}

.coluna ul li {
  margin: 8px 0;
}

.coluna ul li a {
  text-decoration: none;
  color: #cce6ff;
  transition: 0.2s;
}

.coluna ul li a:hover {
  color: #ffffff;
}

.copy {
  text-align: center;
  margin-top: 40px;
  padding-top: 15px;
  border-top: 1px solid #1b4b85;
  font-size: 14px;
  color: #a8c7ff;
}