.footer {
  background: #002b5c;
  color: #fff;
  padding: 50px 20px 20px;
  margin-top: 70px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 1200px;
  margin: auto;
}

.coluna {
  width: 230px;
}

.logo {
  font-size: 28px;
  font-weight: 800;
  color: #4cc9ff;
}

.desc {
  margin-top: 10px;
  font-size: 15px;
  color: #ddd;
}

.coluna h3 {
  color: #00a86b;
}

.coluna ul {
  padding: 0;
}

.coluna ul li {
  margin: 8px 0;
}

.coluna ul li a {
  color: #cce6ff;
}

.coluna ul li a:hover {
  color: #004aad;
}

.copyright {
  text-align: center;
  margin-top: 40px;
  padding-top: 15px;
  font-size: 14px;
  color: #a8c7ff;
}