.secaologin {
  background: #002b5c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #111418;
  padding: 40px 35px;
  width: 380px;
  border-radius: 18px;
  border: 1px solid #1c2229;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.titulo {
  font-size: 28px;
  font-weight: 700;
  color: #4db5ff; /* azul usado no footer */
  margin-bottom: 10px;
}

.subtitulo {
  font-size: 15px;
  color: #d0d5dd;
  margin-bottom: 30px;
}

.forma {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forma input {
  padding: 14px;
  border-radius: 10px;
  border: 2px solid #1f252c;
  background: #0f1317;
  color: white;
  font-size: 15px;
}

.forma input {
  border-color: #4db5ff;
}

.botao {
  background: #4db5ff;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #0b0e11;
  font-weight: bold;
  cursor: pointer;
}

.botao:hover {
  background: #3aa7f0;
}

.registrar {
  margin-top: 15px;
  font-size: 14px;
  color: #cccccc;
}

.registrar a {
  color: #f2d14f;
  font-weight: bold;
  text-decoration: none;
}
