.login {
  background: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 40px 35px;
  width: 380px;
  border-radius: 18px;
  border: 1px solid #1c2229;
  color: white;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.titulo {
  font-size: 28px;
  color: black;
  margin-bottom: 10px;
}

.subtitulo {
  font-size: 15px;
  color: #666;
  margin-bottom: 30px;
}

.forma {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forma input {
  padding: 14px;
  border-radius: 10px;
  border: 2px solid #1f252c;
  color: black;
  font-size: 15px;
}

.forma input {
  border-color: #007bff;
}

.botao {
  background: #007bff;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  width: 380px;
  color: white;
  cursor: pointer;
}

.botao:hover {
  background: #0056b3;
}

.registrar {
  margin-top: 15px;
  font-size: 14px;
  color: black;
}

.registrar a {
  color: #007bff;
}
