.principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 30px;
    gap: 50px;
}


.principal_texto {
    flex: 1;
}

.principal_texto h1 {
    font-size: 50px;
    color: #333;
    margin-bottom: 20px;
}

.principal_texto p {
    font-size: 30px;
    color: #666;
}

.principal_botao{
    margin-top: 150px;
    padding: 20px;
    font-size: 40px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.principal_botao:hover {
    background-color: #0056b3;
}


.principal_imagem {
    flex: 1;
    text-align: center;
}

.principal_imagem img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .principal {
        flex-direction: column;
        text-align: center;
    }

    .principal-texto h1 {
        font-size: 2rem;
    }

    .principal-texto p {
        font-size: 1rem;
    }

    .principal-imagem {
        margin-top: 30px;
    }
}